@model List<SolingenOriginalsToptanci.Models.Entities.Category>

@foreach (var category in Model)
{
    if (category.SubCategories != null && category.SubCategories.Any())
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">@category.Name</a>
            <ul class="dropdown-menu">
                @foreach (var sub in category.SubCategories)
                {
                    <li><a class="dropdown-item" href="/Product?category=@sub.Id">@sub.Name</a></li>
                }
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/Product?category=@category.Id">@category.Name</a>
        </li>
    }
}
